* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 20px;
  background-color: red;
  width: 100%;
  height: 75px;
  text-align: center;
}
header h1 {
  margin: 0;
}

main {
  position: fixed;
  top: 75px;
  bottom: 75px;
  margin: 0;
  background-color: lightgray;
  width: 100%;
}
main p {
  margin: 0;
}

nav {
  width: 100%;
  background-color: red;
  position: fixed;
  bottom: 0;
}
.nav-bar-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-element {
  flex: 1;
  min-height: 75px;
}
.nav-element a {
  width: 100%;
  height: 75px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-element a:hover {
  text-decoration: none;
  color: white;
}
.nav-element i {
  font-size: 2em;
}
@media only screen and (min-width: 800px) {
  .content {
    width: 800px;
    margin: auto;
  }
  .nav-bar-list {
    width: 800px;
    margin: auto;
  }

}

.footer {
  background-color: red;
  flex: 1;
  min-height: 75px;
  width: 100%;
  position: fixed;
  bottom: 0;
}