main {
    overflow: auto;
}

.content {
    display: flex;
}



#pic {
    vertical-align: middle;
    width: 500%;
    height: auto;
    border-radius: 15%;
    margin: 15% auto;
}

#profile {

    width: 15%;
    height: auto;
    transform: translate(75%, 0%);

}

.userinfo {
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: "Courier New";
    src: url("../fonts/ZenDots-Regular.ttf");

}


#submitCar {
    text-align: center;
    font-family: "Courier New";
    src: url("../fonts/ZenDots-Regular.ttf");
}


.carupload {
    margin: auto;
    width: 100%;
    padding: 10px;
}

#login_button {
    width: 30%;
    padding: 10px 0;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background: #BEA6A0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
#login_button:hover {
    background: #d06479;
}

@media only screen and (min-width: 800px) {
    #pic {
        vertical-align: middle;
        width: 200%;
        height: auto;
        border-radius: 15%;
        transform: translate(80%, 0%);

    }

    .carupload {
        margin: auto;
        width: 0;
        display: flex;
        justify-content: center;
    }

    #myFile {
        margin: auto;
        width: 100%;
        padding: 10px;
    }
}

.test {
    background-color: red;
    display: none;
}